body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

table{
	border: solid 1px;
        border-collapse: collapse;
	margin: auto;
}
	table td{
		border: solid 1px;
	}

.formF{
	text-align: center;
}

