<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/style.css" />
    <title>Counter</title>
</head>
<body>

<div style="text-align: center; font-size: 25px"><nav><button class="buttonMenu"><a href="index.html">2018</a></button></nav></div>

	<table cellpadding="35px">
		<tr>
			<th>
				Месяц
			</th>
			<td>Дата</td>
			<td>Горячая вода</td>
			<td>Холодная вода</td>
		</tr>
		<tr>
			<th>
				Январь
			</th>
			<td>02.01.2019</td>
			<td>023645</td>
			<td>079865</td>
		</tr>
		<tr>
			<th>
				Февраль
			</th>
			<td>02.02.2019</td>
			<td>023665</td>
			<td>079875</td>
		</tr>
		<tr>
			<th>
				Март
			</th>
			<td>02.03.2019</td>
			<td>023678</td>
			<td>079885</td>
		</tr>
		<tr>
			<th>
				Апрель
			</th>
			<td>02.04.2019</td>
			<td>023678</td>
			<td>079885</td>
		</tr>
		<tr>
			<th>
				Май
			</th>
			<td>02.05.2019</td>
			<td>023678</td>
			<td>079885</td>
		</tr>
		<tr>
			<th>
				Июнь
			</th>
			<td>02.06.2019</td>
			<td>023678</td>
			<td>079885</td>
		</tr>
		<tr>
			<th>
				Июль
			</th>
			<td>02.07.2019</td>
			<td>023678</td>
			<td>079885</td>
		</tr>
		<tr>
			<th>
				Август
			</th>
			<td>02.08.2019</td>
			<td>023678</td>
			<td>079885</td>
		</tr>
		<tr>
			<th>
				Сентябрь
			</th>
			<td>02.09.2019</td>
			<td>023678</td>
			<td>079885</td>
		</tr>
		<tr>
			<th>
				Октябрь
			</th>
			<td>02.10.2019</td>
			<td>023678</td>
			<td>079885</td>
		</tr>
	</table>
<br>
	
		<form class="formF">
			<label>Дата</label>
			<input type="date" name="date" placeholder="Введите дату"/>
			<label><span class="label">Горячая вода</span>
			<input type="text" name="water_hot" placeholder="Введите данные счетчика"/></label>
			<label>Холодная вода
			<input type="text" name="water_cold" placeholder="Введите данные счетчика"/></label>
    			<input type="submit" value="Отправить"/>
		</form>
	


</body>
</html>